<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Document Generator</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/word_file.css')}}" type="text/css"/>
    {% block scripts %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <div class="header">
        <img src="/static/cl_logo.png" alt="App Logo">
        <h1 class="h4 mb-0">Cover Letter Generator</h1>
    </div>

    <!-- Content Wrapper: Holds all three columns -->
    <div class="content-wrapper">
        <!-- Left Column: Menu Navigation -->
        <nav class="menu">
            <a href="{{ url_for('base.index') }}">Home</a>
            
            
            <h5>Edit</h5>
            <a href="{{ url_for('merge_file.upload_template') }}">Upload Template</a>
            <a href="{{ url_for('merge_file.set_placeholder_type') }}">Edit Placeholders</a>

        </nav>

        <!-- Middle Column -->
        <div class="middle-column">
            <!-- Top Section (Fixed Height, Scrollable) -->
            <div class="top-section">
                {% block content %}{% endblock %}
            </div>

            <!-- Bottom Section (Flexible) -->
            <div class="bottom-section">
                {% block bottom %}{% endblock %}
            </div>
        </div>
        <!-- Right Column: Summary Information -->
        <aside class="right-column">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </aside>
    </div>
    {% block scriptfooter %}{% endblock %}
</body>
</html>
