<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
                <div>
                    <h4>Welcome to the Word Document Generator</h4>
                </div>
                <div>
                    <p>Use the Generate Word Document Generator menu options on the left to:</p>
                    <ul>
                        <li>Upload the template</li>
                        <li>Indicate type of placeholder</li>
                        <li>Create your document</li>
                    </ul>
                </div>
{% endblock %}